<h1>Listing items</h1>

<div class="items">

  <%= form_tag()%>

    <% @items.each do |item| %>
      <%= label_tag(item) %>
      <%= check_box_tag(item, item, false, class:'item') %><br />
    <% end %>
    
    <div id="choose_operator">
      <%= label_tag("Choose operator")%>
      <%= select_tag( "operator", options_for_select([ ["<","$lt"], ["<=","$lte"], ["=>","$gte"], [">","$gt"]])) %>
      <%= text_field_tag(:operator_value) %>
    </div>

    <div id="choose_number_of_results">
      <%= label_tag("Choose number of results")%>
      <%= text_field_tag("number_of_results") %>
    </div>

    <div>
      <%= link_to "Generate query","#", :class =>"generate_query" %>
    </div>

</div>

<div class="result" style='display: none;'>

</div>